doctype html
html(lang='en')
  head
    title Jade
    meta(charset='UTF-8')
    meta(content='', name='author')
    meta(content='', name='description')
    meta(content='3 days', name='revisit-after')

    // build:css /styles/main.css
    link(href='/styles/main.css', rel='stylesheet')
    // endbuild

  body(class=page)
    header
      h1 Ahoi, Jade!

    block content

    // Footer
    footer

    // build:js /scripts/main.js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/scripts/main.js')
    // endbuild
